apiVersion: 1

providers:
  - name: "TP Observabilité Sécurisée"
    orgId: 1
    folder: "M2-Shop"
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: /usr/local/grafana/conf/provisioning/dashboards/json
